@import url(https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #6a6e77;
  line-height: 1;
  font-family: Quicksand;
  font-size: 1.5625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Quicksand;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 15rem 1fr minmax(auto,0) 1fr 15rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.fp-init body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
[data-fp] {
  min-height: 100svh
}
.fp-init [data-fp] {
  z-index: 1;
  touch-action: none;
  position: relative;
  overflow: hidden
}
.fp-switching [data-fp-section] {
  touch-action: none
}
.fp-init [data-fp-section] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto
}
.fp-init .cards-mode [data-fp-section],
.fp-init .slider-mode [data-fp-section] {
  transition: -webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s;
  transition: transform .7s cubic-bezier(.55,.085,0,.99) 0s,-webkit-transform .7s cubic-bezier(.55,.085,0,.99) 0s
}
.fp-init .fade-mode [data-fp-section] {
  transition: opacity .5s ease-in-out 0s,visibility .5s ease-in-out 0s
}
.fp-bullets {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 2;
  gap: .625rem
}
.fp-bullets .fp-bullet {
  cursor: pointer;
  width: .3125rem;
  height: 1.5625rem;
  flex: 0 0 1.5625rem;
  background-color: #000;
  border: .0625rem solid #fff;
  opacity: .5;
  transition: opacity .8s
}
.fp-bullets .fp-bullet-active {
  opacity: 1
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.section-header__label {
  line-height: 124%;
  margin-bottom: 1.28em
}
.section-header__title {
  font-weight: 700;
  line-height: 125%;
  color: #1c1f25;
  max-width: 29.375rem
}
.section-header__title:not(:last-child) {
  margin-bottom: .75em
}
.section-header__title--big {
  max-width: 55.625rem
}
.section-header__text {
  line-height: 180%;
  max-width: 33.75rem
}
.section-header__text p:not(:last-child) {
  margin-bottom: .625rem
}
.section-header--hero .section-header__label {
  color: #e3e6ec
}
.section-header--hero .section-header__title {
  color: #fff
}
.title {
  color: #1c1f25;
  font-weight: 700;
  line-height: 126.666667%
}
.text {
  line-height: 180%
}
.text p:not(:last-child) {
  margin-bottom: .625rem
}
.section-header__label,
.section-header__title,
.text,
.title {
  opacity: 0;
  transition: all 1s
}
.previous-section .section-header__label,
.previous-section .section-header__title,
.previous-section .text,
.previous-section .title {
  -webkit-transform: translate(0,-6.25rem);
  transform: translate(0,-6.25rem)
}
.next-section .section-header__label,
.next-section .section-header__title,
.next-section .text,
.next-section .title {
  -webkit-transform: translate(0,6.25rem);
  transform: translate(0,6.25rem)
}
.active-section .section-header__label,
.active-section .section-header__title,
.active-section .text,
.active-section .title {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.page {
  counter-reset: item
}
.page__section::after {
  counter-increment: item;
  content: counter(item,decimal-leading-zero);
  position: absolute;
  top: 50%;
  -webkit-transform: translate(50%,-50%);
  transform: translate(50%,-50%);
  color: #e3e6ec;
  font-weight: 700;
  line-height: 125%;
  z-index: 3
}
.hero__container {
  min-height: 100%;
  display: flex
}
.hero__section-header {
  position: relative;
  z-index: 5
}
.hero__body {
  flex-grow: 1;
  position: relative
}
.hero__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.hero__picture::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(28,31,37,.6);
  pointer-events: none
}
.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.slide-01__content {
  flex: 0 1 50%;
  align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem
}
.slide-01__image {
  flex: 0 1 50%
}
.slide-01__image img {
  max-width: 100%
}
.slide-02__content {
  flex: 0 1 50%;
  align-self: center;
  padding-bottom: 1.875rem
}
.slide-02__section-header {
  margin-bottom: 2em
}
.slide-02__charts {
  display: grid
}
.slide-02__image {
  position: relative;
  flex: 0 1 50%
}
.slide-02__image img {
  max-width: 100%
}
.charts__item {
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-content: space-between;
  gap: .9375rem;
  line-height: 124%
}
.charts__value {
  color: #1c1f25;
  font-weight: 700
}
.charts__line {
  grid-column: span 2;
  background-color: rgba(28,31,37,.1)
}
.charts__line span {
  display: block;
  height: 10px;
  background-color: #1c1f25
}
.slide-03__items {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(13.75rem,1fr))
}
.slide-03__item {
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 0s
}
.active-section .slide-03__item {
  opacity: 1
}
.active-section .slide-03__item:nth-child(1) {
  transition-delay: .3s
}
.active-section .slide-03__item:nth-child(2) {
  transition-delay: .6s
}
.active-section .slide-03__item:nth-child(3) {
  transition-delay: .9s
}
.active-section .slide-03__item:nth-child(4) {
  transition-delay: 1.2s
}
.item-slide-03 {
  display: flex;
  flex-direction: column
}
.item-slide-03__icon {
  width: 3rem;
  height: 3rem;
  margin-left: .25rem
}
.item-slide-03__icon img {
  min-width: 100%
}
.item-slide-03__text {
  flex: 1 1 auto
}
.slide-04__content {
  flex: 0 1 50%;
  align-self: center;
  padding-bottom: 1.875rem
}
.slide-04__images {
  flex: 0 1 50%;
  display: grid;
  grid-template-rows: repeat(2,1fr)
}
.slide-04__image img {
  position: relative;
  max-width: 100%;
  min-height: 100%
}
.slide-05__container {
  display: flex;
  min-height: 100%;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.slide-05__section-header {
  flex: 0 1 40%;
  align-self: center
}
.slide-05__items {
  flex: 0 1 61%;
  display: flex;
  flex-direction: column;
  align-self: center
}
.slide-05__item {
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 0s
}
.active-section .slide-05__item {
  opacity: 1
}
.active-section .slide-05__item:nth-child(1) {
  transition-delay: .3s
}
.active-section .slide-05__item:nth-child(2) {
  transition-delay: .6s
}
.active-section .slide-05__item:nth-child(3) {
  transition-delay: .9s
}
.active-section .slide-05__item:nth-child(4) {
  transition-delay: 1.2s
}
.slide-05__image {
  flex: 0 1 50%;
  position: relative
}
.slide-05__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 710/1080
}
.item-slide-05 {
  display: flex;
  align-items: center
}
.item-slide-05__icon {
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all 1s .8s
}
.active-section .item-slide-05__icon {
  -webkit-transform: scale(1);
  transform: scale(1)
}
.item-slide-05__icon img {
  max-width: 100%
}
.slide-07__image img {
  max-width: 100%
}
.projects {
  display: flex
}
.projects__item {
  display: grid;
  gap: 1rem
}
.projects__value {
  color: #1c1f25;
  font-weight: 700;
  line-height: 125%
}
.projects__label {
  line-height: 124%
}
.slide-08__section-header {
  flex: 0 0 33.333%
}
.slide-08__section-header .section-header__label {
  margin-bottom: .625rem
}
.slide-08__items {
  flex: 0 0 66.667%;
  display: grid;
  grid-template-rows: repeat(2,1fr)
}
.item-slide-08 {
  display: flex
}
.item-slide-08__body {
  flex: 0 1 50%;
  padding: 1.25rem;
  padding-left: 0
}
.item-slide-08__image {
  flex: 0 1 50%
}
.item-slide-08__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.slide-09__container {
  min-height: 100%;
  display: flex
}
.slide-09__items {
  display: flex;
  flex-wrap: wrap
}
.slide-09__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}
.slide-09__body {
  padding-right: .625rem
}
.slide-09__image {
  flex-grow: 0;
  flex-basis: 57.407407%
}
.slide-09__image img {
  aspect-ratio: 482/620
}
.slide-10 {
  position: relative
}
.slide-10__container {
  position: relative;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 3.125rem;
  padding-bottom: 4.375rem;
  z-index: -1
}
.slide-10__items {
  flex: 0 1 50%;
  display: grid
}
.slide-10__item {
  opacity: 0;
  transition: opacity 1s;
  transition-delay: 0s
}
.active-section .slide-10__item {
  opacity: 1
}
.active-section .slide-10__item:nth-child(1) {
  transition-delay: .3s
}
.active-section .slide-10__item:nth-child(2) {
  transition-delay: .6s
}
.active-section .slide-10__item:nth-child(3) {
  transition-delay: .9s
}
.active-section .slide-10__item:nth-child(4) {
  transition-delay: 1.2s
}
.slide-10__image {
  position: relative;
  z-index: 2;
  flex: 0 1 50%
}
.slide-10__image img {
  aspect-ratio: 720/600
}
.slide-11__container {
  min-height: 100%;
  display: flex
}
.slide-11__body {
  flex-grow: 1;
  position: relative
}
.slide-11__items {
  display: flex;
  position: relative;
  z-index: 5;
  align-items: center
}
.slide-11__item {
  flex: 1 0 33.333%;
  text-align: center;
  color: #e3e6ec;
  line-height: 1.25
}
.slide-11__value {
  font-weight: 700
}
.slide-11__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0
}
.slide-11__picture::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(28,31,37,.5);
  pointer-events: none
}
.slide-11__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
@media (min-width:29.99875em) {
  .item-slide-08 {
    align-items: center
  }
  .item-slide-08:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right
  }
  .item-slide-08:nth-child(odd) .item-slide-08__body {
    padding-right: 0;
    padding-left: 1.25rem
  }
}
@media (min-width:47.99875em) {
  .section-header__title:not(:last-child) {
    margin-bottom: 2.2em
  }
  .hero__container {
    align-items: center;
    padding-block: 1.25rem
  }
  .slide-01__container {
    display: flex;
    min-height: 100%;
    align-items: center
  }
  .slide-01__content {
    padding-right: 1.25rem;
    padding-bottom: 3.125rem
  }
  .slide-02__container {
    display: flex;
    min-height: 100%;
    flex-direction: row-reverse
  }
  .slide-02__content {
    padding-bottom: 3.125rem
  }
  .slide-02__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .slide-03__container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: center
  }
  .slide-04__container {
    min-height: 100%;
    display: flex;
    gap: 1.25rem
  }
  .slide-04__content {
    padding-top: 1.875rem
  }
  .slide-05__image img {
    position: absolute;
    top: 0
  }
  .slide-07__container {
    display: flex;
    min-height: 100%;
    flex-direction: row-reverse
  }
  .slide-07__content {
    flex: 0 1 50%;
    align-self: center
  }
  .slide-07__image {
    position: relative;
    flex: 0 1 50%
  }
  .slide-07__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover
  }
  .slide-08__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    min-height: 100%
  }
  .slide-08__section-header {
    display: flex;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  .slide-08__section-header .section-header__label {
    margin-bottom: 0;
    margin-left: 1.28em
  }
  .slide-08__section-header .section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }
  .slide-09__item {
    flex-direction: column-reverse;
    flex: 0 1 33.333%
  }
  .slide-10__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 37.5%;
    background-color: rgba(196,196,196,.3)
  }
  .slide-10__container {
    flex-direction: row-reverse
  }
  .slide-11__container {
    align-items: center;
    padding-block: 1.25rem
  }
}
@media (min-width:47.99875em)and (min-width:120em) {
  .slide-02__image {
    left: -15rem
  }
  .slide-04__section-header .section-header__title:not(:last-child) {
    margin-bottom: 8.25rem
  }
  .slide-05__image img {
    right: -15rem
  }
  .slide-07__content {
    padding-left: 15rem
  }
}
@media (min-width:90em) {
  .slide-01__container {
    align-items: flex-start
  }
}
@media (min-width:120em) {
  body {
    font-size: 1.5625rem
  }
  [class*=__container] {
    padding-left: 15rem
  }
  [class*=__container] {
    padding-right: 15rem
  }
  .fp-bullets {
    left: 7.5rem
  }
  .section-header__title {
    font-size: 3.75rem
  }
  .title {
    font-size: 1.875rem
  }
  .title:not(:last-child) {
    margin-bottom: 2rem
  }
  .page__section::after {
    right: 7.5rem
  }
  .page__section::after {
    font-size: 3.75rem
  }
  .hero__body {
    padding-block: 9.6875rem
  }
  .hero__body {
    padding-inline: 15rem
  }
  .slide-02__charts {
    gap: 4.75rem
  }
  .slide-03__section-header {
    margin-bottom: 9.5625rem
  }
  .slide-03__items {
    gap: 3.1875rem
  }
  .item-slide-03__icon:not(:last-child) {
    margin-bottom: 1.625rem
  }
  .item-slide-03__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .item-slide-03__title {
    font-size: 1.875rem
  }
  .slide-05__items {
    row-gap: 1.875rem
  }
  .item-slide-05 {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .item-slide-05__icon {
    flex-basis: 3.75rem
  }
  .item-slide-05__icon {
    width: 3.75rem
  }
  .item-slide-05__icon {
    height: 3.75rem
  }
  .slide-07__section-header {
    margin-bottom: 11.875rem
  }
  .projects {
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem
  }
  .projects__value {
    font-size: 3.75rem
  }
  .slide-09__items {
    row-gap: 3.75rem
  }
  .slide-09__item {
    row-gap: 3.75rem
  }
  .slide-10__container {
    row-gap: 3.125rem
  }
  .slide-10__items {
    row-gap: 3.75rem
  }
  .slide-10__items {
    padding-left: 15rem
  }
  .slide-11__body {
    padding-block: 15.4375rem
  }
  .slide-11__body {
    padding-inline: 15rem
  }
  .slide-11__value {
    font-size: 3.75rem
  }
}
@media (max-width:30em) {
  .fp-bullets {
    right: 1.25rem
  }
}
@media (max-width:20em) {
  body {
    font-size: 1.125rem
  }
  [class*=__container] {
    padding-left: .9375rem
  }
  [class*=__container] {
    padding-right: .9375rem
  }
  .fp-bullets {
    left: .46875rem
  }
  .section-header__title {
    font-size: 2.1875rem
  }
  .title {
    font-size: 1.25rem
  }
  .title:not(:last-child) {
    margin-bottom: .625rem
  }
  .page__section::after {
    right: .46875rem
  }
  .page__section::after {
    font-size: 1.875rem
  }
  .hero__body {
    padding-block: 3.125rem
  }
  .hero__body {
    padding-inline: .9375rem
  }
  .slide-02__charts {
    gap: 1.5625rem
  }
  .slide-03__section-header {
    margin-bottom: 1.875rem
  }
  .slide-03__items {
    gap: 1.25rem
  }
  .item-slide-03__icon:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .item-slide-03__title:not(:last-child) {
    margin-bottom: 1.125rem
  }
  .item-slide-03__title {
    font-size: 1.5rem
  }
  .slide-05__items {
    row-gap: .9375rem
  }
  .item-slide-05 {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .item-slide-05__icon {
    flex-basis: 1.875rem
  }
  .item-slide-05__icon {
    width: 1.875rem
  }
  .item-slide-05__icon {
    height: 1.875rem
  }
  .slide-07__section-header {
    margin-bottom: 1.875rem
  }
  .projects {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .projects__value {
    font-size: 1.875rem
  }
  .slide-09__items {
    row-gap: 1.25rem
  }
  .slide-09__item {
    row-gap: 1.25rem
  }
  .slide-10__container {
    row-gap: 1.25rem
  }
  .slide-10__items {
    row-gap: 1.5625rem
  }
  .slide-11__body {
    padding-block: 3.125rem
  }
  .slide-11__body {
    padding-inline: .9375rem
  }
  .slide-11__value {
    font-size: 2.1875rem
  }
}
@media (max-width:47.99875em) {
  .fp-bullets {
    top: auto;
    bottom: 1.25rem;
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
    flex-direction: row;
    right: 50%
  }
  .fp-bullets .fp-bullet {
    width: 2.1875rem;
    height: .3125rem
  }
  .page__section::after {
    top: 1.25rem;
    right: 50%
  }
  .page__section.hero::after {
    color: #fff
  }
  .hero__container {
    padding-inline: 0
  }
  .hero__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%
  }
  .slide-01__container {
    padding-top: 3.125rem;
    padding-bottom: 4.375rem
  }
  .slide-02__container {
    padding-top: 3.125rem;
    padding-bottom: 4.375rem
  }
  .slide-03__container {
    padding-top: 3.125rem;
    padding-bottom: 4.375rem
  }
  .slide-04__container {
    padding-top: 3.125rem;
    padding-bottom: 4.375rem
  }
  .slide-05__container {
    flex-direction: column;
    justify-content: center;
    padding-top: 3.125rem;
    padding-bottom: 4.375rem
  }
  .slide-05__section-header {
    align-self: flex-start
  }
  .slide-05__items--top {
    padding-top: 3.125rem
  }
  .slide-07__container {
    padding-top: 3.125rem;
    padding-bottom: 4.375rem
  }
  .slide-07__content {
    padding-bottom: 1.875rem
  }
  .slide-08__container {
    padding-top: 3.125rem;
    padding-bottom: 4.375rem
  }
  .item-slide-08__body {
    padding-left: 1.25rem
  }
  .slide-09__container {
    padding-top: 3.125rem;
    padding-bottom: 4.375rem
  }
  .slide-11__container {
    padding-inline: 0
  }
  .slide-11__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%
  }
  .slide-11__items {
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem
  }
}
@media (max-width:47.99875em)and (max-width:20em) {
  .slide-05__container {
    row-gap: 1.5625rem
  }
  .slide-08__items {
    margin-left: -.9375rem
  }
  .slide-08__items {
    margin-right: -.9375rem
  }
}
@media (max-width:29.99875em) {
  .item-slide-08 {
    flex-direction: column
  }
}
@media (min-width:20em)and (max-width:120em) {
  body {
    font-size: clamp(1.125rem ,1.0375rem + .4375vw ,1.5625rem)
  }
  [class*=__container] {
    padding-left: clamp(.9375rem ,-1.875rem + 14.0625vw ,15rem)
  }
  [class*=__container] {
    padding-right: clamp(.9375rem ,-1.875rem + 14.0625vw ,15rem)
  }
  .fp-bullets {
    left: clamp(.46875rem ,-.9375rem + 7.03125vw ,7.5rem)
  }
  .section-header__title {
    font-size: clamp(2.1875rem ,1.875rem + 1.5625vw ,3.75rem)
  }
  .title {
    font-size: clamp(1.25rem ,1.125rem + .625vw ,1.875rem)
  }
  .title:not(:last-child) {
    margin-bottom: clamp(.625rem ,.35rem + 1.375vw ,2rem)
  }
  .page__section::after {
    right: clamp(.46875rem ,-.9375rem + 7.03125vw ,7.5rem)
  }
  .page__section::after {
    font-size: clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)
  }
  .hero__body {
    padding-block: clamp(3.125rem ,1.8125rem + 6.5625vw ,9.6875rem)
  }
  .hero__body {
    padding-inline: clamp(.9375rem ,-1.875rem + 14.0625vw ,15rem)
  }
  .slide-02__charts {
    gap: clamp(1.5625rem ,.925rem + 3.1875vw ,4.75rem)
  }
  .slide-03__section-header {
    margin-bottom: clamp(1.875rem ,.3375rem + 7.6875vw ,9.5625rem)
  }
  .slide-03__items {
    gap: clamp(1.25rem ,.8625rem + 1.9375vw ,3.1875rem)
  }
  .item-slide-03__icon:not(:last-child) {
    margin-bottom: clamp(1.125rem ,1.025rem + .5vw ,1.625rem)
  }
  .item-slide-03__title:not(:last-child) {
    margin-bottom: clamp(1.125rem ,.95rem + .875vw ,2rem)
  }
  .item-slide-03__title {
    font-size: clamp(1.5rem ,1.425rem + .375vw ,1.875rem)
  }
  .slide-05__items {
    row-gap: clamp(.9375rem ,.75rem + .9375vw ,1.875rem)
  }
  .item-slide-05 {
    -webkit-column-gap: clamp(1.25rem ,.875rem + 1.875vw ,3.125rem);
    -moz-column-gap: clamp(1.25rem ,.875rem + 1.875vw ,3.125rem);
    column-gap: clamp(1.25rem ,.875rem + 1.875vw ,3.125rem)
  }
  .item-slide-05__icon {
    flex-basis: clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)
  }
  .item-slide-05__icon {
    width: clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)
  }
  .item-slide-05__icon {
    height: clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)
  }
  .slide-07__section-header {
    margin-bottom: clamp(1.875rem ,-.125rem + 10vw ,11.875rem)
  }
  .projects {
    -webkit-column-gap: clamp(1.25rem ,.9rem + 1.75vw ,3rem);
    -moz-column-gap: clamp(1.25rem ,.9rem + 1.75vw ,3rem);
    column-gap: clamp(1.25rem ,.9rem + 1.75vw ,3rem)
  }
  .projects__value {
    font-size: clamp(1.875rem ,1.5rem + 1.875vw ,3.75rem)
  }
  .slide-09__items {
    row-gap: clamp(1.25rem ,.75rem + 2.5vw ,3.75rem)
  }
  .slide-09__item {
    row-gap: clamp(1.25rem ,.75rem + 2.5vw ,3.75rem)
  }
  .slide-10__container {
    row-gap: clamp(1.25rem ,.875rem + 1.875vw ,3.125rem)
  }
  .slide-10__items {
    row-gap: clamp(1.5625rem ,1.125rem + 2.1875vw ,3.75rem)
  }
  .slide-11__body {
    padding-block: clamp(3.125rem ,.6625rem + 12.3125vw ,15.4375rem)
  }
  .slide-11__body {
    padding-inline: clamp(.9375rem ,-1.875rem + 14.0625vw ,15rem)
  }
  .slide-11__value {
    font-size: clamp(2.1875rem ,1.875rem + 1.5625vw ,3.75rem)
  }
}
@media (min-width:47.99875em)and (min-width:20em)and (max-width:120em) {
  .slide-02__image {
    left: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
  }
  .slide-04__section-header .section-header__title:not(:last-child) {
    margin-bottom: clamp(.3125rem ,-1.275rem + 7.9375vw ,8.25rem)
  }
  .slide-05__image img {
    right: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
  }
}
@media (min-width:47.99875em)and (max-width:20em) {
  .slide-02__image {
    left: -.9375rem
  }
  .slide-04__section-header .section-header__title:not(:last-child) {
    margin-bottom: .3125rem
  }
  .slide-05__image img {
    right: -.9375rem
  }
}
@media (max-width:47.99875em)and (min-width:120em) {
  .slide-05__container {
    row-gap: 3.125rem
  }
  .slide-08__items {
    margin-left: -15rem
  }
  .slide-08__items {
    margin-right: -15rem
  }
}
@media (max-width:47.99875em)and (min-width:20em)and (max-width:120em) {
  .slide-05__container {
    row-gap: clamp(1.5625rem ,1.25rem + 1.5625vw ,3.125rem)
  }
  .slide-08__items {
    margin-left: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
  }
  .slide-08__items {
    margin-right: clamp(-15rem ,1.875rem + -14.0625vw ,-.9375rem)
  }
}
@media (min-width:47.99875em)and (min-width:47.99875em)and (max-width:120em) {
  .slide-07__content {
    padding-left: clamp(1.875rem ,-6.8746202323rem + 18.2288501936vw ,15rem)
  }
}
@media (min-width:29.99875em)and (max-width:47.99875em) {
  .item-slide-08:nth-child(odd) .item-slide-08__body {
    padding-right: 1.25rem
  }
}
@media (min-width:47.99875em)and (max-width:120em) {
  .slide-10__items {
    padding-left: clamp(1.875rem ,-6.8746202323rem + 18.2288501936vw ,15rem)
  }
}
@media (any-hover:hover) {
  .fp-bullets .fp-bullet:hover {
    opacity: 1
  }
}